
@import url(https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css);

*{margin:0; padding:0;}
body{font-size:17px; line-height:200%;
	 font-family: "NanumBarunGothic";
	 height:auto; background:#fff; color:#111;}

a{text-decoration:none; color:#333;}
li{list-style:none;}
img{border:0; vertical-align:middle;}
button{border:0; font-family: "NanumBarunGothic"; font-size:0.8em;}
button:hover{cursor:pointer;}
.fl{float:left;}
.fr{float:right;}
.cb:after{content:""; display:block; clear:both;}
.info_text{
	display: inline-block; 
	transform: translate3d(0px, 20px, 0px); 
	opacity: 0; 
	transition: transform 0.7s cubic-bezier(0.0, 0.0, 0.2, 1) 0s, opacity 0.7s cubic-bezier(0.0, 0.0, 0.2, 1) 0s;
	-webkit-transition: transform 0.7s cubic-bezier(0.0, 0.0, 0.2, 1) 0s, opacity 0.7s cubic-bezier(0.0, 0.0, 0.2, 1) 0s;
}
.width_100{width: 100%; float: left;}

.grn{color:#216915;}
.grn2{color:#63c12f;}

/* 상하 스크롤시 header 영역 배경 생성 및 삭제 */
.headerBg{background:#fff; box-shadow:0px 1px 3px rgba(49,49,49,0.3); transition:all 0.4s;}


#top{height:970px; background:url("../images/bg3.jpg"); background-size:cover; margin:0 auto; color:#fff;}
	#top_wrap{width:100%; margin:0 auto; position:relative;}
		header{width:100%;  height:72px; line-height:72px; position:fixed; z-index:1000;}
			
			#header_wrap{width:70%; margin:0 auto;}
				#header_wrap>h1{width:50%;}
				nav{width:50%;}
					#nav_wrap{width:100%;}
						#nav_wrap>ul{width:100%;}
						#nav_wrap>ul>li{width:25%; text-align:center; font-weight:bold;}
						#nav_wrap>ul>li a{color:#fff;}
						#nav_wrap>ul>li>ul>li>a{color:#222;}
						#nav_wrap>ul>li a:hover{opacity:0.8; transition:all 0.4s;}
					nav select{border:0;}
		
	#under{text-align:center; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; padding-top:360px;}
		#under>h1{font-size:52px; line-height:120%; margin-bottom:80px; text-shadow:2px 2px 6px rgba(0,0,0,0.3);}
		.mainbtn{background:transparent; border:1px solid #fff; border-radius:4px; width:180px; height:58px; color:#fff; font-weight:bold; font-size:18px; text-shadow:1px 1px 1px #333;}
		.mainbtn:hover{cursor:pointer;}


#wrap{width:70%; background:lightgray; margin:0 auto;}
	/* 각 영역 대제목 */
	.title{font-size:50px; line-height:130%; margin-bottom:20px;}
	p{line-height:150%;}
	section{}
		section>div{overflow:hidden;}
		/* 상,하 padding */
		.pad{box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; padding:80px 0;}
		/* 좌,우 padding */
		.pad2{width:70%; margin:0 auto;}
		
		#one>div, #two>div{box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
		
		#one{height:830px;}	
			#one_left{width:50%; padding-left:50px;}
			#one_right{width:50%; padding-top:60px;}
				#one_right h4{font-size:0.95em;}
				#one_right hr{width:60px; border:0.5px solid #63c12f; margin-top:10px; margin-bottom:60px; text-align:left;}
				#modublog{margin-top:60px; width:160px; height:50px; background:#63c12f; color:#fff; transition:all 0.4s;}
				#modublog:hover{background:#216915;}
				
		#two{height:820px; background:#f1f1f1;}
			#two_left{width:50%; padding-top:60px;}
				#service{width:100%; margin-top:70px;}
				#service_nav{width:345px;}
				#service_nav>ul>li{height:50px; line-height:50px; text-align:center; margin-right:30px;}
				#service_nav>ul>li:nth-child(4){margin-right:0px;}
				#service_nav>ul>li>a{color:#777; transition:all 0.4s;}
				#service_nav>ul>li>a:hover{color:#63c12f;}
				#service_nav ul li .greenOn{color:#63c12f; font-weight:bold; border-bottom:1.2px solid #63c12f;}
				#service_con{margin-top:40px;}
					#service_con>p{}
			#two_right{width:50%; padding-left:160px; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
				#phone_bg{width:380px; height:674px; background:url("../images/two_bg.png") center center; background-size:cover;}
				.screen{width:324px; height:575px; overflow:hidden; position:relative;}
				.screen>img{ position:absolute; left:57px; top:99px;  z-index:10;}
			
		#three{height:460px;}
			#three_left{width:50%; padding-top:60px;}
			#three_right{width:50%; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; padding-top:30px;}
			
		#four{height:800px; background:#63c12f; color:#fff; text-align:center; padding-bottom:0px;}
			#four_nav{width:600px; margin:0 auto; margin-top:40px;}
				#four_nav li{width:33.3%;}
				#four_nav li>a{color:#fff; opacity:0.8; transition:all 0.4s;}
				#four_nav ul li>a:hover{opacity:1;}
				#four_nav ul li .whiteOn{color:#fff; font-weight:bold; border-bottom:1.2px solid #fff; opacity:1;}
			#four_con{margin:30px 0;}
				#four_con>p{margin-bottom:50px;}
				
		#five{height:630px; text-align:center;}
			#five>ul{width:100%; margin-top:40px; text-align:center;}
				#five>ul>li{width:33.33%; height:300px;}
					#five .cir{width:220px; height:220px; border-radius:110px; margin:0 auto; margin-bottom:20px; border:4px solid #f1f1f1;}
					.cir_first{background:url("../images/cir1.jpg") center center;}
					.cir_second{background:url("../images/cir2.jpg") center center;}
					.cir_third{background:url("../images/cir3.jpg") center center;}
			#five h3{color:#63c12f; font-size:1.21em;}
			#five h3~p{color:#555;}
					
		#six{height:590px; text-align:center; background:#f1f1f1;}
			
		
		#seven{height:900px; background:#63c12f; color:#fff; text-align:center;}
			#seven #contact{text-align:left; width:70%; margin:0 auto;  font-size:0.92em;}
			#seven #contact>div{width:600px; margin:0 auto;}
			#seven #contact>div~p{font-size:0.95em;}
			#seven #contact span{font-weight:bold;}
			#seven #contact #name, #seven #contact #email, #seven #contact #phone, #seven #contact textarea{width:100%; height:40px; border-left:0; border-top:0; border-right:0; border-bottom:1px solid #fff; background:transparent; color:#fff; font-family: "NanumBarunGothic"; font-size:1em; margin-bottom:20px; resize:none; overflow:hidden;}

			#seven #contact .policy{text-align:justify; width:600px; margin:0 auto;}
			#seven #contact .policy~p{width:70%; margin:0 auto; margin-top:28px; text-align:center;}
			#seven #submit{width:40%; height:50px; background:#fff; /*color:#63c12f;*/ font-weight:bold; font-size:16px; border-radius:30px; box-shadow:2px 2px 10px #41891a; transition:all 0.5s; margin:0 auto;}
			#seven #checkbox{border:0; background:#fff;}
			#seven #submit:hover{cursor:pointer; opacity:0.9;}
	
	footer{background:#f1f1f1; height:auto; line-height:150%; font-size:15px;}
		#footer_wrap{width:70%; height:100%; margin:0 auto;}
			#footer_left{width:84%;}
				footer address{font-style:normal;}
			#footer_right{width:16%;}
				#footer_right>ul{width:100%;}
				#footer_right>ul>li{margin-left:7px;}
				
	/* top버튼 스타일 시작 */
	#topBtn{position:fixed; bottom:30px; right:30px;
			width:50px; height:50px; z-index:1000;}
	#topBtn a{width:100%; height:100%;border-radius:25px;
			  background:rgba(33,105,21,0.9);
			  display:block; line-height:50px;
			  box-shadow:0px 1px 1px #41891a;}
	#topBtn a:hover{background:rgba(33,105,21,1);}
	#topBtn img{padding-left:11px; width:28px;}